.Acknowledgement{
    border: 1px solid grey;
    box-shadow: 1px 1px 1px black;
    color: red;
    height: 250px;
    width: 600px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgb(7, 49, 18);
    z-index: 10;
}

.AckMsg{

    color: blanchedalmond;
    text-align: center;
    margin-top: 15%
}

.AckButton{
    font: bold;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
    height: 40px;
    position: relative;
    display: inline-block;
}

.Confirmed{
    display: none;
}
