.SideMenu{
    height: 700px;
    width: 300px;
    background-color: rgb(2, 4, 24);
    font: bolder;
    color: blanchedalmond;
    font-style: italic;
    font-family: fantasy;
    float: left;
    
    /* display: none; */
}



.SideMenu:active{
    height: 700px;
    width: 300px;
    background-color: rgb(2, 4, 24);
    font: bolder;
    color: blanchedalmond;
    /* display: none; */
}

.Button{
    border: none;
    color: green;
    background: none;
    padding: 30px;
}

.Button{
    outline: none;

}