.Signup{
    border: 1px solid grey;
    box-shadow: 1px 1px 1px grey;
    color: red;
    height: 500px;
    width: 400px;
    padding: 10px;
    margin-top: 5%;
    margin-right: 30%;
    text-align: center;
    display: block;
    float: right;
}

.Input{
    color: black;
    font-weight: bold;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
}

.Input:hover{
    border: 2px solid grey;
}

img{
    margin-left: auto;
    margin-top: 50px;
    height: 100px;
    width: 100px;
}

.Submit{
    margin-top: 30px;
    background-color: #2d21d1;
    border-radius: 10px;
    color: lightgreen;
    height: 30px;
    width: 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Submit:hover{
    border-width: 4px;    
}

.onError{
    color:red;
    border: 2px solid red;
    outline: red;
}

@media screen and (max-width : 400px){
    .Signup{
        height: 300px;
        width: 200px;
        border: 1px solid grey;
        box-shadow: 1px 1px 1px grey;
        color: red;
        padding: 5px;
        margin-top: 10%;
        margin-right: 15%;
        text-align: center;
        display: block;
        float: right;
    }
    img{
        margin-left: auto;
        margin-top: 50px;
        height: 50px;
        width: 50px;
    }
    .Input{
        color: black;
        font-weight: bold;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        border-radius: 10px;
        text-align: center;
    }
    .Input:hover{
        border: 1px solid grey;
    }
}

