.Instruction{
    text-align: center;
    font-style: italic;
    background-color: lightblue;
}

.Instruction li{
    list-style: none;
}

@media screen and (max-width:400px){
    .Instruction{
        font-size: smaller;
    }
}